@use "../abstracts/" as *;
.navBar {
    position: fixed;
    z-index: 98;
    top: -100%;
    left: 0;
    right: 0;
    padding: $p-10;
    height: $navbar-height;
    background-color: $color-white;
    box-shadow: $box-shadow;
    transition: top 0.3s ease;
    @include mobile() {
        top: 0;
    }
    @include tablet() {
        top: 0;
    }
    @include flex(space-between, center);
    &__openSideBar {
        transition: all 0.3s ease;
        @include flex(center, center);
        width: 38px;
        height: 38px;
        cursor: pointer;
        background-color: transparent;
        i {
            font-size: 2.8rem;
            color: $text-color;
        }
        &:hover {
            background-color: $color-black;
            i {
                color: $color-white;
            }
        }
    }
    &__actions {
        @include flex(flex-start, center);
        &__input{
            position: relative;
            overflow: hidden;
            input{
                font-size: 1.6rem;
                width: 270px;
                outline: none;
                border: 1px solid $text-color;
                padding: 0px 8px;
                border-radius: 5px;
                letter-spacing: 1.5px;
                word-spacing: 0px;
                line-height: 4rem;
                @include smallDevice(){
                    width: 200px !important;
                }
            }
            &::before{
                content: "";
                transition: all 0.3s ease;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: $color-white;
            }
        }
        &__input.show::before{
            transform: translateX(-100%);
        }
        &__list {
            list-style: none;
            margin: $m-25-0;
            @include flex(center, center);
            > li {
                padding: 0px 8px;
                position: relative;
                a,
                i {
                    color: $text-color-second;
                    font-size: 2.6rem;
                    cursor: pointer;
                    transition: color 0.3s ease;
                }
                span {
                    position: absolute;
                    top: -18%;
                    right: -2px;
                    background: $color-black;
                    width: 18px;
                    height: 18px;
                    @include flex(center, center);
                    border-radius: 50%;
                    font-size: 1.1rem;
                    color: $color-white;
                }
            }
            > li:hover {
                a,
                i {
                    color: $text-color-primary;
                }
            }
        }
    }
}
