@use "./../abstracts/" as *;
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Mulish', sans-serif;
}
html,body{
    height: 100%;
}
html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: 'Mulish', sans-serif;
    background-color: $background-color;
}
